#content {
	position: absolute;
	top: 30px;
	left:200px;
	right:0px;
	bottom: 0px;
	overflow: auto;	
	padding:1px 16px;
	color: white;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-left: 1px solid rgba(255, 255, 255, 0.4);
}