#header {
	width: 100%;
	height: 30px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: inherit;
	position: absolute; /* Make it stick, even on scroll */
	overflow: hidden;
	/* Enable scrolling if the sidenav has too much content */
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-right: 1px solid rgba(255, 255, 255, 0.4);
	border-left: 1px solid rgba(255, 255, 255, 0.4);
	top: 0;
	left: 0;
	opacity: 0.95;
}

#header:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 110%;
	height: 100px;
	content: "";
	position: absolute;
	top: -25px;
	left: -25px;
	bottom: 0;
	right: 0;
	background: inherit;
	box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 30px;
	vertical-align: middle;
	position: relative;
}

#header li {
	font-size: 15px;
	float: left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	display: inline;
	width: 200px;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 30px;
}

#header li i {
	margin-right: 10px;
}

#header .userbox {
	float: right;
	width: auto;
	margin-right: 10px;
}

#header .headlogo {
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-webkit-transform: none;
	vertical-align: middle;
}

#header .headlogo #menuarrow {
	font-size: 8px;
	vertical-align: middle;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-webkit-transform: none;
}

#header .headlogo:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 1);
	vertical-align: middle;
}

#header .headlogo h3 {
	font-size: 15px;
	font-weight: normal;
	display: inline;
	color: rgba(255, 255, 255, 0.8);
	vertical-align: middle;
}

#header .headlogo i {
	font-size: 17px;
	margin-right: 10px;
	color: rgba(255, 255, 255, 0.3);
	display: inline;
	vertical-align: middle;
}

.boxrotate {
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg); -webkit-transform: rotate( 180deg);
		-ms-transform: rotate( 180degdeg); transform: rotate( 180deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 M11=0.9396926207859084,
		M12=-0.3420201433256687, M21=0.3420201433256687, M22=0.9396926207859084,
		sizingMethod='auto expand');
	zoom: 1;
}